/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    justify-content: center !important;
    align-items: center !important;
}

.flex {
    display: flex;
}


.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.volkhov-bold {
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
}

.container {
    width: 1920px;
    /* Fixed width */
    height: 100vh;
    /* Full viewport height for scrollable content */
    max-height: 5875px;
    /* Prevent overflow */
    overflow-y: auto;
    flex-direction: column;
}

.section {
    width: 100%;
    padding: 50px 350px;
}

.section-1 {
    /* height: 17%; */
    background-color: #FEFCFB;

    .discover_btn {
        .discover_button {
            display: inline-block;
            width: 150px;
            height: 50px;
            padding: 10px 20px;
            background-color: #fff;
            border: 1px solid #f4623a;
            border-radius: 5px;
            color: #f4623a;
            text-decoration: none;
            transition: all 0.3s ease;
        }

        .discover_button:hover {
            background-color: #f4623a;
            color: #fff;
        }
    }

    main {
        flex-direction: column;
        width: 100%;

        .header {
            padding: 32px 0;

            div {
                width: 100%;

                >.logo {
                    width: 15%;
                    align-items: center;
                    gap: 5%;
                }

                >.navigation_section {
                    align-items: center;

                    >.navi_link {
                        justify-content: center;

                        >ul {
                            list-style: none !important;
                            gap: 10%;
                        }
                    }

                    >.navi_link>ul>li>a {
                        text-decoration: none !important;
                        color: inherit;
                    }

                    >.account {
                        align-items: center;
                        justify-content: space-evenly;

                        >.login {
                            color: #ee7f3f;
                        }

                        >.box {
                            width: 150px;
                            height: 40px;
                            background-color: #ee7f3f;
                            border-radius: 5px;
                            box-shadow: 0 .5px 4px #ee7f3f;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            font-size: 16px;
                            text-align: center;
                        }
                    }
                }
            }
        }

        >.main_content {
            margin-bottom: 3rem;
            justify-content: space-between;

            >.left_container {
                flex-direction: column !important;

                .left_content {
                    height: 100%;
                    flex-direction: column !important;

                    h2 {
                        margin: 5.5rem 0 1rem;
                        font-size: 64px;

                        .highlight {
                            color: #ee7f3f;
                        }
                    }

                    p {
                        color: #666;
                    }

                }
            }

            .right_container {
                .flight_human {
                    flex-direction: column;

                    .flight_human {
                        width: 100%;
                        height: 100%;
                    }
                    .Human {
                        align-self: center;
                    }
                }


                .badge {
                    position: absolute;
                    /* Position badges absolutely */
                    padding: 5px 10px;
                    /* Add some padding to badges */
                    border-radius: 5px;
                    /* Rounded corners */
                    background-color: #fff;
                    /* Light background for badges */
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    /* Subtle shadow */
                }

                .top-left {
                    top: 20px;
                    /* Adjust top position as needed */
                    left: 20px;
                    /* Adjust left position as needed */
                }

                .bottom-left {
                    bottom: 20px;
                    /* Adjust bottom position as needed */
                    left: 20px;
                    /* Adjust left position as needed */
                }

                .bottom-right {
                    bottom: 20px;
                    /* Adjust bottom position as needed */
                    right: 20px;
                    /* Adjust right position as needed */
                }

                .badge img {
                    margin-right: 5px;
                    /* Add spacing between icon and text */
                }

                /* Optional: Add some styling for the text within badges */
                .badge span {
                    font-size: 12px;
                    color: #333;
                }
            }
        }


        .bottom_container {
            width: 75%;
            align-items: center;
            padding: 24px 32px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            align-self: center;
            justify-content: space-between;

            >.bottom_content {
                width: 80%;
                gap: 10%;

                .l_d_g_m {
                    flex-direction: column;

                    .l_d_g {
                        /* max-height: 35px; */
                        gap: 10px;

                        .arrow_img {
                            position: relative;
                            align-self: flex-start;
                            margin-top: 5px;
                        }

                        .arrow_img::before,
                        .arrow_img::after {
                            content: "";
                            position: absolute;
                            left: calc(10% - 0px);
                            width: 2px;
                            height: 8px;
                            border-radius: 9999px;
                            background-color: #fa7436;
                            transform-origin: 50% calc(100% - 1.0px);
                        }

                        .arrow_img::before {
                            transform: rotate(45deg);
                        }

                        .arrow_img::after {
                            transform: rotate(-45deg);
                        }
                    }
                    h3 {
                        font-size: 16px;
                        color: #222222;
                    }
                    p {
                        font-size: 12px;
                        color: #666;
                    }
                }
            }

            .explore_now {
                width: 150px;
                height: 45px;
                background-color: #ee7f3f;
                border-radius: 5px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                justify-content: center;
                align-items: center;
                color: white;
                text-decoration: none;
            }
        }
    }
}


.section-2 {
    /* height: 12.32%; */
    background-color: #F5F9FF;


    .main_container_2 {
        flex-direction: column;
        width: 100%;

        .main_content_1 {
            width: 100%;
            height: 142px;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;

            .sub_content_1 {
                h1 {
                    font-size: 48px;
                    .highlight {
                        color: #ee7f3f;
                    }
                }
            }

            .sub_content_2 {
                p {
                    font-size: 18px;
                    color: #666666;
                    align-self: center;
                    text-align: center;
                }
            }
            img {
            align-self: flex-end;
            /* position: absolute; */
            margin-right: 3%;
            margin-top: -10%;
            }
        }

        .main_content_2 {
            gap: 5%;
            margin-top: 70px;
            align-items: center;
            justify-content: center;
            .box_content {
                width: 370px;
                height: 278px;
                background-color: #FFFFFF;
                border-radius: 20px;
                box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 20px;

                img {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.section-3 {
    /* height: 16.34%; */
    background-color: #FEFCFB;

    .main_container_3 {
        flex-direction: column;
        width: 100%;

        .main_content_1 {
            height: 142px;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;

            .sub_content_1 {
                h1 {
                    font-size: 48px;

                    .highlight {
                        color: #ee7f3f;
                    }
                }
            }

            .sub_content_2 {
                p {
                    font-size: 18px;
                    color: #666666;
                    align-self: center;
                    text-align: center;
                }
            }
        }

        .main_content_2 {
            gap: 2%;
            margin-top: 70px;
            align-items: center;
            justify-content: center;


            .remove_border {
                box-shadow: 0px 20px 30px 10px #FFE7DB !important;
                color: white !important;
                border: none !important;
            }


            .box_content {
                width: 272px;
                height: 426px;
                background-color: #FFFFFF;
                border-radius: 10px;
                border: 2px solid #6666661a;
                display: flex;
                flex-direction: column;
                gap: 10%;

                .Firenze {
                    position: relative;
                    justify-content: center;
                    align-items: center;

                    img {
                        height: 100%;
                        display: block;
                        /* Ensures no extra space below the image */
                    }

                    .image-container {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        background-color: rgba(0, 0, 0, 0.4);
                        /* Black overlay with 40% opacity */
                        justify-content: center;
                        align-items: center;
                        z-index: 1;
                    }

                    .Firenze_btn {
                        margin-top: 55%;
                        width: 132px;
                        height: 50px;
                        background-color: #ee7f3f;
                        border: none;
                        border-radius: 5px;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        font-size: 16px;
                    }
                }

                .sub_cnts2{
                    justify-content: flex-start;
                    flex-direction: column;
                    height: 100%;

                    .sub_content_1 {
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 16px;
                        h3 {
                            color: #222222;
                            font-size: 24px;
                        }
                        span {
                            color: #666666;
                            font-size: 16px;
                        }
                        .rating {
                            gap: 10%;
                            img {
                                width: 100%;
                                height: 100%;
                                justify-content: center;
                            }
                        }
                    }

                    .sub_content_2 {
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 16px;

                        h3 {
                            color: #222222;
                            font-size: 24px;
                        }
                        div {
                            gap: 10%;
                            align-items: center;
                        }
                        img {
                            max-width: 100%;
                            max-height: 100%;
                            object-fit: cover;
                            align-self: center;
                        }
                        span {
                            color: #666666;
                            font-size: 16px;
                        }
                        .original-price {
                            font-size: 16px;
                            color: #999;
                            /* Gray color for original price */
                            text-decoration: line-through;
                            /* Strike-through effect */
                        }

                        .discounted-price {
                            font-size: 18px;
                            color: #f9632f;
                            /* Bright orange color */
                            font-weight: bold;
                            background-color: #fff4ec;
                            /* Light orange background */
                            padding: 5px 10px;
                            border-radius: 5px;
                            /* Rounded corners */
                        }
                    }
                }
            }

        }
        .arrow_div {
            width: 104px;
            align-self: center;
            justify-content: space-between;
            margin-top: 70px;
            .arrow-container {
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                text-align: center;
                line-height: 40px;
                /* Center vertically */
            }

            .left-arrow {
                background-color: #FEFCFB;
                /* Light gray background */
                border: 1px solid #999999;
                /* Light gray border */
                rotate: 180deg;
                color: #999999;
            }

            .right-arrow {
                background-color: #ff6347;
                /* Orange background */
                border: 1px solid #e65c3b;
                /* Darker orange border */
                color: #FFFFFF;
            }

            .arrow {
                font-size: 24px;
            }
        }
    }
}

/* .section-4 {
    height: 15.2%;
    background-color: #017374;
} */


.section-4 {
    background-color: #FEFCFB;

    .main_container_4 {
        flex-direction: column;
        width: 100%;

        .main_content_1 {
            height: 142px;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;

            .sub_content_1 {
                h1 {
                    font-size: 48px;

                    .highlight {
                        color: #ee7f3f;
                    }
                }
            }

            .sub_content_2 {
                p {
                    font-size: 18px;
                    color: #666666;
                    align-self: center;
                    text-align: center;
                }
            }
            img {
                align-self: flex-end;
                margin-right: 18%;
                margin-top: -10%;
            }
        }

        .main_content_2 {
            gap: 2%;
            margin-top: 30px;
            align-items: center;
            justify-content: center;


            .remove_border {
                box-shadow: 0px 20px 30px 10px #FFE7DB !important;
                color: white !important;
                border: none !important;
            }


            .box_content {
                width: 370px;
                height: 447px;
                background-color: #FFFFFF;
                border-radius: 18px;
                border: 2px solid #6666661a;
                display: flex;
                flex-direction: column;

                .sub_cnts1  {
                    width: 369px;
                    align-self: center;
                    img {
                        max-width: 100%;
                        object-fit: cover;
                    }
                }

                .sub_cnts2 {
                    justify-content: space-evenly;
                    flex-direction: column;
                    height: 100%;

                    .sub_content_1 {
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 16px;

                        h3 {
                            color: #222222;
                            font-size: 24px;
                        }

                        span {
                            color: #666666;
                            font-size: 16px;
                        }
                    }

                    .sub_content_2 {
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 16px;

                        .rating {
                            gap: 10%;
                            width: 50%;
                            justify-content: flex-end;
                        }
                        .Days {
                            width: 50%;
                            gap: 10%;
                            align-items: center;
                        }

                        span {
                            color: #666666;
                            font-size: 16px;
                        }

                        .original-price {
                            font-size: 16px;
                            color: #999;
                            /* Gray color for original price */
                            text-decoration: line-through;
                            /* Strike-through effect */
                        }

                        .discounted-price {
                            font-size: 18px;
                            color: #f9632f;
                            /* Bright orange color */
                            font-weight: bold;
                            background-color: #fff4ec;
                            /* Light orange background */
                            padding: 5px 10px;
                            border-radius: 5px;
                            /* Rounded corners */
                        }
                    }
                }
            }

        }

        .arrow_div {
            width: 150px;
            align-self: flex-end;
            justify-content: space-evenly;

            .arrow-container {
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                text-align: center;
                line-height: 40px;
                /* Center vertically */
            }

            .left-arrow {
                background-color: #FEFCFB;
                /* Light gray background */
                border: 1px solid #999999;
                /* Light gray border */
                rotate: 180deg;
                color: #999999;
            }

            .right-arrow {
                background-color: #ff6347;
                /* Orange background */
                border: 1px solid #e65c3b;
                /* Darker orange border */
                color: #FFFFFF;
            }

            .arrow {
                font-size: 24px;
            }
        }
    }
}


.section-5 {
    /* height: 10.14%; */
    background-color: #ffc93c;
}

/* .section-6 {
    height: 13.71%;
    background-color: #2374ab;
} */


.section-6 {
    /* height: 13.71%; */
    background-color: #FEFCFB;

    .main_container_6 {
        flex-direction: column;
        width: 100%;

        .main_content_1 {
            align-items: center;
            justify-content: space-around;

            .sub_content_1 {
                h1 {
                    font-size: 48px;

                    .highlight {
                        color: #ee7f3f;
                    }
                }
            }

            .sub_content_2 {
                p {
                    font-size: 18px;
                    color: #666666;
                    align-self: center;
                    text-align: center;
                }
            }
        }

        .main_content_2 {
            gap: 2%;
            margin-top: 70px;
            align-items: center;
            justify-content: center;


            .box_content {
                width: 272px;
                height: 388px;
                /* background-color: #FFFFFF; */
                border-radius: 10px;
                /* border: 2px solid #6666661a; */
                display: flex;
                flex-direction: column;

                .Firenze {
                    position: relative;
                    justify-content: center;
                    align-items: center;

                    img {
                        height: 100%;
                        display: block;
                        /* Ensures no extra space below the image */
                    }

                    .image-container {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        background-color: rgba(0, 0, 0, 0.4);
                        /* Black overlay with 40% opacity */
                        justify-content: center;
                        align-items: center;
                        z-index: 1;
                    }
                }

                .sub_cnts2 {
                    justify-content: space-around;
                    flex-direction: column;
                    height: 100%;

                    h3 {
                        color: #222222;
                        font-size: 18px;
                    }

                    span {
                        color: #666666;
                        font-size: 16px;
                    }
                }
            }
        }
        .dots-container {
            justify-content: center;
            align-items: center;
            margin-top: 45px;
            .dot {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin: 0 5px;
            }

            .dot.active {
                background-color: #ff6347;
                /* Orange color */
                width: 14px;
                height: 14px;
            }

            .dot:not(.active) {
                background-color: #ccc;
                /* Light gray color */
            }
        }
    }
}

/* .section-7 {
    height: 15.29%;
    background-color: #f64b3c;
} */

.section-7 {
    background: linear-gradient(to top, #F7F8FC 75%, #F7F8FC 75%, white 25%, white 25%);

    .main_container_7 {
        flex-direction: column;
        .border_line {
            padding: 0 10px;
            width: 100%;
            border-top: 1px solid #999999;
            height: 1px;
            line-height: 0.1em;
            margin: 40px 0;
        }

        .footer_content_1 {
            width: 1170.25px;
            height: 416px;
            background-color: #FA7436;
            border-radius: 16px;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .subscribe_box {
                h1 {
                    color: #FFFFFF;
                    font-size: 48px;
                    text-align: center;
                }
            }

            /* .imgs {
                position: absolute;
                width: 80%;
                height: 100%;
                justify-content: space-between;
                img {
                    width: 480px;
                    height: 361px;
                }
               .img2 {
                    width: 120px !important;
                    height: 120px !important;
                }
            } */

            .email_box {
                width: 674px;
                height: 68px;
                background-color: #FFFFFF;
                border-radius: 10px;
                justify-content: space-between;
                align-items: center;
                padding: 1%;

                .text_email {
                    width: 30%;
                    align-items: center;
                    justify-content: space-between;

                    h2 {
                        font-size: 16px !important;
                        color: #999999;
                    }

                    .envelope-icon {
                        width: 40px;
                        height: 30px;
                        border-radius: 10px;
                        border: 2px solid #ccc;
                        justify-content: center;
                        align-items: center;
                    }

                    .icon-container::before,
                    .icon-container::after {
                        content: "";
                        width: 15px;
                        height: 2px;
                        background-color: #ccc;
                        border-radius: 5px;
                    }

                    .icon-container::before {
                        transform: rotate(220deg) translate(0, 4px);
                    }

                    .icon-container::after {
                        transform: rotate(-220deg) translate(0, 4px);
                    }
                }

                div>.sub_box {
                    width: 132px;
                    height: 50px;
                    background-color: #FA7436;
                    border-radius: 16px;
                    align-items: center;
                    justify-content: center;
                    color: #FFFFFF;
                    font-size: 16px;
                }
            }

        }

        .footer_content_2 {
            margin-top: 126px;
            justify-content: space-between;

            .logo {
                width: 254px;
                height: 176px;
                flex-direction: column;
                justify-content: space-between;

                .Title {
                    gap: 5%;
                    align-items: center;
                    h1 {
                        font-size: 24px;
                        color: #222222;
                    }
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }

                p {
                    font-size: 16px;
                    color: #666666;
                }
                img {
                    width: 196px;

                }
            }

            .about_us {
                width: 50%;
                justify-content: space-between;

                h1 {
                    font-size: 18px;
                    color: #222222;
                }

                div {
                    flex-direction: column;
                    .comm_ctn {
                        height: 100%;
                        justify-content: space-evenly;

                        span {
                            font: 18px;
                            color: #666666;
                        }
                    }
                }
            }
        }

        footer {
            justify-content: space-between;
            span {
                font-size: 16px;
                color: #666666;
            }
        }
    }
}