.arrow_div {
    display: flex;
    width: 150px;
    justify-content: space-evenly;

    .arrow-container {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        line-height: 40px;
        display: flex;
        justify-content: center;
    }

    .left-arrow {
        border: 3px solid blue;
        rotate: 180deg;
        color: blue;
    }

    .right-arrow {
        border: 3px solid blue;
        color: blue;
    }

    .arrow {
        font-size: 24px;
    }
}